footer {
    background-color: #FFFFFF;
    height: 60px;
    width: 100%;
    bottom: 0;
    position: fixed;
    border-top: #CCCCCC 1px solid;
}
div{
    text-align: center;
    line-height: 60px;
}